.MainContainer {
    margin: .5% .5% .5% .5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: .5%;
    grid-row-gap: .5%;
    grid-template-rows: 2fr 1fr auto;
    grid-template-areas: 
        "topleft topright"
        "botleft botright";
    text-align: center;
}

/* Game Container */
.GameContainer {
    grid-area: topleft;
    height: 65vh;
    width: 48vw;
    margin: auto;
    overflow: auto;
    background : skyblue;
    border: 3px solid #73AD21;
}

/* Score Container */
.ScoreContainer {
    grid-area: topright;
    height : 65vh;
    width: 48vw;
    margin: auto;
    overflow: auto;
    background : lightsalmon;
    border: 3px solid #73AD21;
}

#ScoreContainerTop {

}

#ScoreContainerLeft {
  float: left;
}

#ScoreContainerRight {
  float: left;
}


/* Fact Container */
.FactContainer {
    grid-area: botright;
    height : 30vh;
    width: 48vw;
    margin: auto;
    overflow: auto;
    background : lightseagreen;
    border: 3px solid #73AD21;
}

/* User Container */
.UserContainer {
    grid-area: botleft;
    height : 30vh;
    width: 48vw;
    margin: auto;
    overflow: auto;
    background : lightgreen;
    border: 3px solid #73AD21;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

#contextImage {
  height: 30vh; 
  /* max-width: 300px; 
  max-height: 300px; */
}

/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {background-color: #ddd;}

